<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pasta</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="vue-app">
		<div class="container">
			<div class="row btn-row">
				<div class="col-lg-12 text-center">
					<button class="btn btn-primary" type="button" v-on:click="reverseList">Reverse The List</button>
					<button class="btn btn-primary" type="button" v-on:click="shuffleList">Shuffle The List</button>	
				</div>
			</div>	
			<div class="row input-row"></div>
				<div class="list-pasta list-group-item" v-for="(pasta, i) in pasta" v-bind:id="i">
					<div class="item-pasta" v-for="item in pasta" v-html="item" ></div>
				</div>
			</div>
		</div>
	</div>
	<script src="app.js"></script>
</body>
</html>