html,body, #vue-app{
    font-family:'Avenir Next';
    background-color: #D1DEEE;
}
.list-pasta{
    border: 1px solid black;
    margin: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.item-pasta{
    padding: 5px;
}
.btn-row{
    margin-top: 40px;
}
